body{
    background-color: rgb(71, 69, 69);
    body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 40px;
}

}

#form {
    background-color: rgb(32, 23, 23);
    min-width: 400px;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 30px;

}